<div class="backdrop" (click)="closeModal()"></div>
<dialog open>
  <h2>Edit Training</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <p>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="training!.name"
        required
      />
    </p>
    <p>
      <label for="provider">Provider</label>
      <input
        type="text"
        id="provider"
        name="provider"
        [(ngModel)]="training!!.provider"
        required
      />
    </p>
    <p>
      <label for="price">Training Price</label>
      <input
        type="number"
        id="price"
        name="price"
        [(ngModel)]="training!.price"
        required
      />
    </p>
    <p>
      <label for="type">Type</label>
      <input
        type="text"
        id="type"
        name="type"
        [(ngModel)]="training!.type"
        required
      />
    </p>
    <p>
      <label for="category">Category</label>
      <select
        [(ngModel)]="training!.category"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="Front End">Front End</option>
        <option value="Back End">Back End</option>
        <option value="Soft Skills">Soft Skills</option>
        <option value="Other">Other</option>
      </select>
    </p>
    <p>
      <label for="desc">Description</label>
      <textarea
        id="desc"
        name="desc"
        cols="30"
        rows="5"
        [(ngModel)]="training!.desc"
        required
      ></textarea>
    </p>

    <p>
      <label for="startDate">Training Start Date</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        [(ngModel)]="training!.startDate"
        required
      />
    </p>
    <p>
      <label for="endDate">Training End Date</label>
      <input
        type="date"
        id="endDate"
        name="endDate"
        [(ngModel)]="training!.endDate"
        required
      />
    </p>
    <p>
      <label for="purchaseDate">Training Purchase Date</label>
      <input
        type="date"
        id="purchaseDate"
        name="purchaseDate"
        [(ngModel)]="training!.purchaseDate"
        required
      />
    </p>

    <div class="actions">
      <button type="button" (click)="closeModal()">Cancel</button>
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
    @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
    }
  </form>
</dialog>
