<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <div class="headline">
    <h1>
      Add New Training for
      <strong>{{ worker!.name }} {{ worker!.surname }}</strong>
    </h1>
    <p>Create a new training record</p>
  </div>
  <form>
    <p>
      <label for="name">Name</label>
      <input
        required
        type="text"
        id="name"
        name="name"
        required
        [(ngModel)]="enteredName"
      />
    </p>
    <p>
      <label for="provider">Provider</label>
      <input
        [(ngModel)]="enteredProvider"
        type="text"
        id="provider"
        name="provider"
        required
      />
    </p>
    <p>
      <label for="cost">Training Price</label>
      <input
        required
        type="number"
        id="cost"
        name="cost"
        required
        [(ngModel)]="enteredTrainingPrice"
      />
    </p>
    <p>
      <label for="name">Description</label>
      <textarea
        required
        [(ngModel)]="enteredTrainingDescription"
        name="description"
        id="description"
        cols="30"
        rows="5"
      ></textarea>
    </p>
    <p>
      <label for="date">Training Start Date</label>
      <input
        required
        [(ngModel)]="enteredStartDate"
        name="startDate"
        id="startDate"
        type="date"
      />
    </p>
    <p>
      <label for="date">Training End Date</label>
      <input
        required
        [(ngModel)]="enteredEndDate"
        name="endDate"
        id="endDate"
        type="date"
      />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit" (click)="onAddNewTraining()">Save</button>
    </p>
  </form>
</dialog>
